@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main{
    font-family: "Inter", sans-serif;
  background: #f4f6fc;
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  color: #222;
}

a{
  text-decoration: none;
  color: white;
}
/* Main page container */
.container {
    display: flex;
    flex-direction: column;
  width: 100%;
  max-width: 820px;
  background: #fff;
  padding: 40px 45px;
  border-radius: 14px;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.08);
}

/* Title */
h1 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 6px;
}

/* Subtitle */
.subtitle {
  font-size: 15px;
  color: #666;
  margin-bottom: 28px;
}

/* Form labels */
.ask-form .label {
  font-weight: 600;
  font-size: 15px;
  margin-top: 22px;
  display: block;
}

/* Required field symbol */
.required {
  color: #d32f2f;
}

/* Inputs */
.input,
.textarea {
  width: 100%;
  margin-top: 10px;
  padding: 14px 15px;
  border-radius: 8px;
  border: 1px solid #dcdce0;
  background: #fafafb;
  font-size: 15px;
  transition: all 0.2s ease;
}

/* Input on focus */
.input:focus,
.textarea:focus {
  background: #fff;
  border-color: #7b4dff;
  outline: none;
  box-shadow: 0 0 0 3px rgba(123, 77, 255, 0.25);
}

/* Textarea */
.textarea {
  resize: vertical;
  min-height: 180px;
}

/* Small description under inputs */
.hint {
  margin-top: 6px;
  font-size: 14px;
  color: #777;
}

/* Submit button */
.submit-btn {
  width: 100%;
  margin-top: 30px;
  padding: 14px;
  background: #7b4dff;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease;
}

/* Hover effect */
.submit-btn:hover {
  background: #6a3ff0;
  transform: translateY(-1px);
}


/* TAGS */
.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.tag {
  padding: 8px 14px;
  background: #f3f3f7;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  border: 1px solid #dcdce0;
  transition: 0.2s;
}

.tag:hover {
  background: #e6e3ff;
}

.tag.selected {
  background: #7b4dff;
  color: white;
  border-color: #7b4dff;
}

.success {
  color: green;
  margin-top: 10px;
  font-weight: bold;
}

.error {
  color: red;
  margin-top: 10px;
  font-weight: bold;
}