.question-card {
  
  background: linear-gradient(
  135deg,
  #e0e7ff 0%,
  #f3e9ff 50%,
  #ffffff 100%
);
  border-radius: 14px;
  padding: 24px;
  border: 1px solid rgba(255,255,255,0.5);
  box-shadow: 0px 4px 14px rgba(0,0,0,0.05);
  backdrop-filter: blur(6px);
  
}

.question-card h3 {
  margin: 0;
}

.desc {
  color: #555;
  margin-top: 8px;
}

.tags {
  margin-top: 12px;
  display: flex;
  gap: 10px;
}

.tag {
  background: #eef2ff;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 14px;
}

.footer {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #666;
}

.avatar {
  background: #e0e7ff;
  padding: 6px 10px;
  border-radius: 50%;
}

.stats i {
  margin-left: 12px;
  margin-right: 3px;
}
