/* BACKGROUND */
.uq-main-wrapper {
  background: linear-gradient(120deg, #d9e4ff, #f5d0ff, #ffd6e8);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

/* MAIN CONTAINER */
.uq-container {
  width: 90%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  background: transparent;
}

/* PROFILE CARD */
.uq-profile-card {
  width: 100%;
  background: #fff;
  border-radius: 22px;
  padding: 40px;
  text-align: center;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.18);
}

/* AVATAR */
.uq-avatar {
  width: 120px;
  height: 120px;
  background: linear-gradient(135deg, #4f46e5, #3b82f6);
  border-radius: 50%;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 32px;
  font-weight: bold;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}

/* NAME & SUBTITLE */
.uq-name {
  font-size: 22px;
  font-weight: 600;
}
.uq-subtitle {
  color: #777;
  margin-bottom: 35px;
}

/* GRID */
.uq-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 22px;
}

/* INFO BOX */
.uq-info-box {
  background: linear-gradient(135deg, #eef2ff, #fff7f9);
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* ICON STYLES */
.uq-icon {
  width: 45px;
  height: 45px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.uq-blue { background: #dbeafe; }
.uq-purple { background: #f3e8ff; }
.uq-pink { background: #ffe4e6; }
.uq-orange { background: #ffedd5; }

.uq-label {
  font-size: 15px;
  color: #777;
}

.uq-value {
  font-size:20px;
  font-weight: 500;
}

/* SKILLS CARD */
.uq-skills-card {
  width: 100%;
  background: #fff;
  margin-top: 35px;
  padding: 30px;
  border-radius: 22px;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.18);
}

.uq-skills-card h3 {
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 600;
}

/* TAGS */
.uq-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.uq-tag {
  background: #f4f4f5;
  padding: 8px 16px;
  border-radius: 28px;
  font-size: 14px;
  color: #333;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

.logout-btn {
  width: 100px;
  background: #ff4b5c;
  color: white;
  border: none;
  margin-top:10px ;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(255, 75, 92, 0.3);
}

.logout-btn:hover {
  background: #e04352;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(255, 75, 92, 0.4);
}

.logout-btn:active {
  transform: translateY(0);
  box-shadow: none;
}

